<footer class="page-footer">


	<div class="container  text-md-left">
  
	  
	  <div class="row pt-5">
  
		<div class="col-md-4 col-lg-6 mr-auto my-md-4 my-0 mt-4 mb-1">
  
	
		  <p class="mb-4 footer-logo">
			<img src="../../../assets/images/footer-logo.png" alt="allgood-footer" class="img-fluid" />
		  </p>
		  <p>
			  Online marketplace, where you can sell your stuff in <br />
			  support of the charity or campaign you choose.
			</p>
		 
				<ul class="social">
					<li>  
						<fa-icon [icon]="fbIcon"></fa-icon>
					</li>
					<li>
						<fa-icon [icon]="instaIcon"></fa-icon>
					</li>
					<li>
						<fa-icon [icon]="twitterIcon"></fa-icon>
					</li>
				</ul>
			
		</div>
	
  
		<hr class="clearfix w-100 d-md-none">
  

		<div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
	
		  <h5 class="font-weight-bold mb-4">Allgood</h5>
  
		  <ul class="list-unstyled">
			<li>
			  <p>
				<a href="#!">About us</a>
			  </p>
			</li>
			<li>
			  <p>
				<a href="#!">Contact</a>
			  </p>
			</li>
			<li>
			  <p>
				<a href="#!">Help</a>
			  </p>
			</li>
		  </ul>
  
		</div>
	
  
		<hr class="clearfix w-100 d-md-none">
  
		
		<div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  

		  <h5 class="font-weight-bold mb-4">Charities</h5>
  
		  <ul class="list-unstyled">
			<li>
				<p>
				<a href="#!">
					Charity/Campaign partners
				</a>
				</p>
			</li>
			<li>
				<p>
				<a href="#!">
					Sign up charity/campaign
				</a>
				</p>
		  </ul>
  
		</div>
	
	
  
	  </div>
	  <div class="py-3 copyright">
		  © AllGood 2020 All Rights Reserved
		  
				<a href="#!">Privacy policy</a>
				<a href="#!">Terms & Conditions</a>
			
		</div>
  
	</div>

	

  
  </footer>