<div class="container-fluid post-item">
	<div class="row">
		<div class="col-md-6 img-featured">
			
			<img src="../../../assets/images/new-post.png" alt="allgood-new" class="img-fluid" />
		</div>
		
		<div class="col-md-6 post-item left-pad">
			<h1>Post an item for sale</h1>
			<p class="mt-4">
				To post and item for sale - please register <br />
				or sign in if you are already registered with allgood
			</p>
			<div class="form-buttons mt-4">
					<button class="btn active">Sign up</button>
					<button class="btn">Sign in</button>
			</div>
		</div>
	</div>
</div>